* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    line-height: normal;
    background: #edf4ff;
}

.container-lg{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    -webkit-padding: 0 15px;
}
.container {
    max-width: 1060px;
    padding: 0 15px;
    margin: 0 auto;
    -webkit-padding: 0 15px;
}
.wrapper{
    overflow-x: hidden;
}
a {
    text-decoration: none;
    transition: .3s ease all;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
}
input {
    outline: none;
    transition: .3s ease all;
}

/* Scroll style */
::-webkit-scrollbar {
    width: 3px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.06);
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.175);
    border-radius: 5px;
}

.main-btn{
    border-radius: 10px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 147, 30);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-btn:hover{
    background: rgb(250, 132, 6);
}

/* Header start */
.header{
    padding-top: 20px;
}
.header-content {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
}
.header-content .header-navs{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 40px;
    justify-content: space-between;
    padding-left: 30px;
    border-left: 1px solid #eaf0fb;;
}
.header-navs .header-select{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-select .header__select-spn{
    color: rgb(106, 113, 123);
    font-size: 14px;
    line-height: 13px;
    white-space: nowrap;
}
.header-select .header__select-btn{
    color: rgb(65, 136, 255);
    font-size: 13px;
    line-height: 12px;
    padding: 4px 10px 4px 7px;
    border-radius: 5px;
    background: rgb(237, 244, 255);
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: .3s ease all;
}
.header-select .header__select-btn.active img{
    transform: rotate(-180deg);
}
.header-select .header__select-tabs{
    position: absolute;
    top: 63px;
    z-index: 3;
    border-radius: 15px;
    backdrop-filter: blur(45.3px);
    background: #ffffffb3;
    padding: 15px 0;
    height: 360px;
    width: 170px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    opacity: 0;
    transition: .3s ease all;
}
.header-select .header__select-tabs.active{
    top: 72px;
    opacity: 1;
    pointer-events: all;
}

.header-select .header__select-tab{
    padding: 12px 20px;
    color: #6c7b94;
    font-size: 13px;
    line-height: 12px;
    cursor: pointer;
    transition: .3s ease all;
}
.header-select .header__select-tab:hover{
    background: rgb(217, 231, 255, .6);
    color: rgb(47, 53, 63);
}
.header-select .header__select-tab.active{
    background: #4188ff;
    color: #FFF;
}

.header-content .header-info{
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-info .header-phone,
.header-info .header-time{
    display: flex;
    align-items: center;
    gap: 11px;
}
.header-phone .header__phone-img,
.header-time .header__time-img{
    padding: 11px;
    border-radius: 5px;
    background: rgb(65, 136, 255, .05);
    width: 45px;
    height: 45px;
}
.header-phone .header__phone-links,
.header-time .header__time-texts{
    display: flex;
    flex-direction: column;
}
.header-time .header__time-text{
    font-size: 15px;
    line-height: 17px;
    color: rgb(176, 189, 208);
    white-space: nowrap;
}
.header-time .header__time-text b{
    color: rgb(47, 53, 63);
}
.header-phone .header__phone-links{
    gap: 3px;
}
.header-phone .header__phone-link{
    color: rgb(47, 53, 63);
    font-size: 18px;
    font-weight: 700;
    line-height: 17px;
}
.header-phone .header__phone-link:nth-child(2){
    color: rgb(255, 147, 30);
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    text-decoration-line: underline;
}

.header-info .header-bars{
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background: rgb(65, 136, 255, .05);
    padding: 13px 10px 14px;
}

/* Header modal */
.header-modal{
    position: fixed;
    top: 0;
    right: -150%;
    z-index: 10;
    width: 425px;
    height: 100vh;
    overflow-y: auto;
    padding: 48px 40px 70px;
    backdrop-filter: blur(22px);
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: .5s all ease;
}
.header-modal.active{
    right: 0;
}
.header-modal .header__modal-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.header__modal-top .header__modal-tabs{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-modal .header__modal-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.header-modal .header__modal-item{
    position: relative;
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.05);
    width: 100%;
    height: 50px;
}
.header__modal-item .header__modal-link{
    width: 100%;
    height: 100%;
    padding: 15px 20px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 20px;
}
.header__modal-item .header__modal-link img{
    transition: .3s ease all;
}
.header__modal-item .header__modal-link.active img{
    transform: rotate(-180deg);
}
.header__modal-item .header__modal-option{
    position: absolute;
    z-index: 3;
    top: 40px;
    left: 0;
    pointer-events: none;
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    background: rgb(107, 110, 114);
    transition: .3s ease all;
}
.header__modal-item .header__modal-select:focus +.header__modal-option{
    top: 50px;
    opacity: 1;
    pointer-events: all;
}
.header__modal-item .header__modal-option span{
    padding: 10px 20px;
    cursor: pointer;
    color: #FFF;
    font-size: 13px;
    border-radius: 5px;
    line-height: 12px;
    transition: .3s ease all;
}
.header__modal-item .header__modal-option span:hover{
    background-color: #6c7b94;
}

.header__modal-items .header__modal-license{
    color: rgb(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-top: 10px;
}

.header-modal .header__modal-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.header__modal-bottom .header__modal-tel{
    color: rgb(255, 255, 255);
    font-size: 25px;
    line-height: 20px;
    text-align: center;
}
.header__modal-bottom .header__modal-time{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__modal-bottom .header__modal-time span{
    color: rgb(255, 255, 255, 0.5);
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}
.header__modal-bottom .header__modal-btn{
    width: 100%;
    height: 55px;
}
.header-modal .header__modal-socicial{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.header__modal-socicial .header-socicial-icon{
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.1);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__modal-socicial .header-socicial-icon img{
    transition: .3s ease all;
}
.header__modal-socicial .header-socicial-icon:hover img{
    transform: scale(1.2);
}
/* Header end */

/* Home start */
.home .home-content{
    padding: 77px 0px 67px;
    border-bottom: 1px solid rgb(221, 229, 243);
    position: relative;
    display: flex;
    gap: 61px;
    justify-content: space-between;
}
.home-content .home-car{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}
.home-content .home-info{
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.home-content .home-title-wrap{
    display: flex;
    flex-direction: column;
}
.home-content .home-title{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-weight: 700;
    line-height: 63px;
    color: rgb(47, 53, 63);
}
.home-content .home-title span{
    color: rgb(65, 136, 255);
}
.home-content .home-title2{
    display: flex;
    align-items: center;
    gap: 15px;
    color: rgb(255, 147, 30);
    font-size: 50px;
    font-weight: 700;
    line-height: 63px;
}
.home-content .home-title2 span{
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 5px 14px 5px 10px;
    border-radius: 471.32px;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    color: rgb(106, 113, 123);
    font-size: 20px;
    font-weight: 400;
    line-height: 28.42px;
}
.home-info .home__link-wrap{
    display: flex;
    align-items: center;
    gap: 20px;
}
.home-info .home-link{
    width: 240px;
    height: 60px;
}

.home-content .home-location video{
    width: 375px;
    height: 500px;
    border-radius: 15px;
}
/* Home end */

/* Cars start */
.cars{
    padding: 50px 0px 0px;
}
.cars .cars-slider .cars-slider-img{
    width: 120%;
    height: 100%;
    margin-left: -32px;
}
.swiper-button-prev{
    left: 52px;
    z-index: 1;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.2);
    background: rgb(255, 147, 30);
}
.swiper-button-next{
    right: 52px;
    z-index: 1;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.2);
    background: rgb(255, 147, 30);
}
.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled{
    opacity: 0;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    display: none;
}


.cars-content .cars-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.cars-content .cars-top .cars-title{
    display: flex;
    align-items: center;
}
.cars-content .cars-top .cars-title-img{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
}
.cars-top .cars-title-img .car-title-check{
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 4px;
    box-shadow: 0px 2px 7px 0px rgba(255, 147, 30, 0.5);
    background: rgb(255, 147, 30);
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cars-content .cars-title h1{
    max-width: 300px;
    font-size: 40px;
    font-weight: 700;
    line-height: 39px;
    color: rgb(65, 136, 254);
    margin-left: 24px;
}
.cars-content .cars-title h1 span{
    color: rgb(47, 53, 63);
}
.cars-content .cars-title .title-line-arrow{
    margin-top: 13px;
}
.cars-content .cars-text{
    position: relative;
    padding: 13px 10px 10px 16px;
    max-width: 315px;
    border-radius: 10px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.5px);
    background: rgba(255, 255, 255, 0.8);
}
.cars-content .cars-text p{
    font-size: 14px;
    line-height: 19px;
    color: rgb(55, 58, 63);
}
.cars-content .cars-text p a{
    color: rgb(65, 136, 255);
}
.cars-content .cars-text .cars-text-stars{
    position: absolute;
    top: -11px;
    right: -9px;
}
/* Cars end */

/* Theory start */
.theory{
    background-color: rgb(255, 255, 255);;
}
.theory .theory-content{
    position: relative;
    padding: 62px 0px 30px;
    display: flex;
    flex-direction: column;
}
.theory-content .theory-big-title{
    position: absolute;
    top: -97px;
    left: -78px;
    z-index: 0;
    background: linear-gradient(180.00deg, rgb(234, 241, 252), rgba(237, 244, 255, 0.32));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 318.23px;
    font-weight: 900;
    line-height: 305px;
}
.theory-content .theory-info{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: start;
    gap: 74px;
}
.theory-info .theory__info-left{
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding-top: 64px;
}
.theory__info-left .theory-title{
    max-width: 550px;
    font-size: 50px;
    font-weight: 700;
    line-height: 51px;
    color: rgb(47, 53, 63);
}
.theory__info-left .theory-title span{
    color: rgb(255, 147, 30);
}
.theory__info-left .theory__info-boxs{
    display: flex;
    align-items: center;
    gap: 20px;
}
.theory__info-left .theory__info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 145px;
    height: 125px;
    border-radius: 5px;
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
}
.theory__info-left .theory__info-box:nth-child(2){
    background: rgb(236, 243, 255);
}
.theory__info-left .theory__info-box:nth-child(3){
    background: rgb(255, 241, 226);
}
.theory__info-left .theory__info-box span{
    color: rgb(55, 58, 63);
    font-size: 14px;
    line-height: 13px;
    text-align: center;
}

.theory-info .theory__info-video video{
    border-radius: 15px;
    box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.1);
    width: 418px;
    height: 430px;
}
.theory-content .theory__branch-box{
    position: relative;
    top: 0;
    left: 20px;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.5px);
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 14px 14px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 385px;
}
.theory-content .theory__branch-box img{
    position: absolute;
    top: -14px;
    right: 12px;
    width: 40px;
    height: 52px;
}
.theory__branch-box .theory-slider-title{
    color: rgb(65, 136, 255);
    font-size: 35px;
    font-weight: 700;
    line-height: 13px;
    display: flex;
    align-items: baseline;
    gap: 5px;
}
.theory__branch-box .theory-slider-title span{
    font-size: 18px;
    line-height: 13px;
}
.theory__branch-box .theory-slider-text{
    color: rgb(55, 58, 63);
    font-size: 12px;
    line-height: 16px;
}
.theory .theory-slider{
    margin-top: -80px;
    padding: 0px 15px;
}

.theory-slider .theory-slider-img{
    width: 113%;
    height: 100%;
    margin-left: -20px;
}
/* Theory end */

/* Iceberg start */
.iceberg{
    padding: 50px 0px 145px;
}
.iceberg .iceberg-title-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 28px;
}
.iceberg .iceberg-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 562px;
    margin: 0 auto;
}
.iceberg .iceberg-title img{
    width: 50px;
}
.iceberg .iceberg-title h2{
    margin-top: 20px;
    color: rgb(47, 53, 63);
    font-size: 40px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
}
.iceberg .iceberg-title h3{
    color: rgb(47, 53, 63);
    font-size: 25px;
    font-weight: 700;
    line-height: 31px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}
.iceberg .iceberg-title h3 span{
    color: rgb(190, 199, 215);
}
.iceberg-title-wrap .iceberg-info-top{
    display: flex;
    gap: 24px;
    margin-right: -40px;
}
.iceberg-info-top .iceberg-top-texts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.iceberg-top-texts .iceberg-top-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
}
.iceberg-info-top .iceberg-top-texts p{
    font-size: 14px;
    font-weight: 400;
    max-width: 177px;
    line-height: 18px;
    color: rgb(103, 113, 130);
}
.iceberg-info-top .iceberg-top-texts p span{
    font-weight: 700;
    color: rgb(68, 74, 83);
}
.iceberg .iceberg-content{
    background-image: url(../images/iceberg-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 390px;
}
.iceberg-content .iceberg__content-wrap{
    display: flex;

}
.iceberg-content .iceberg-img{
    margin-top: -143px;
    margin-left: 126px;
    z-index: 2;
}
.iceberg-content .iceberg__content-boxs{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 54px 0px;
}
.iceberg__content-boxs .iceberg__content-box{
    display: flex;
    align-items: start;
    gap: 14px;
    margin-left: -185px;
}
.iceberg__content-box .iceberg-line{
    width: 255px;
    height: 1px;
    background-color: #99DDFF;
}
.iceberg__content-box .iceberg__content-info{
    display: flex;
    align-items: center;
    gap: 30px;
}
.iceberg__content-box .iceberg__content-icon{
    width: 30px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    background: rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;    
}
.iceberg__content-box .iceberg__content-texts{
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 172px;
}
.iceberg__content-box .iceberg__content-texts b{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    line-height: 13px;
}
.iceberg__content-box .iceberg__content-texts span{
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 16px;
}

.iceberg-content .iceberg-texts{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 18px 25px 16px;
    border-radius: 10px;
    box-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(36px);
    background: rgb(255, 255, 255);
    max-width: 370px;
    margin: -75px auto 0;
}
.iceberg-content .iceberg-texts img{
    position: absolute;
    bottom: 0;
    right: 0;
}
.iceberg-content .iceberg-texts .iceberg-text{
    color: rgb(55, 58, 63);
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    z-index: 2;
}
/* Iceberg end */

/* Happy start */
.happy{
    padding-bottom: 70px;
}
.happy .happy-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 32px 30px 30px;
    border-radius: 30px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(36px);
    background: rgb(65, 136, 255);
}
.happy .happy-content::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    background-image: url(../images/icons/happy-before-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 10px;
}
.happy-content .happy-title{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    line-height: 40.63px;
    text-align: center;
}
.happy-content .happy-discount{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.happy-discount .happy__discount-price{
    display: flex;
    align-items: center;
    gap: 3px;
    border-radius: 7px;
    background: rgb(96, 156, 255);
    padding: 8px 10px;
}
.happy-discount .happy__discount-price span{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
}
.happy-content .happy-discount .happy__discount-time{
    color: rgb(166, 199, 255);
    font-size: 15px;
    line-height: 25px;
    text-align: center;
}

.happy .happy-cards{
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: start;
}
.happy-cards .happy-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 273px;
}
.happy-card .happy__card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.happy__card-info .happy-card-title{
    margin-top: 12px;
    color: rgb(47, 53, 63);
    font-size: 26px;
    font-weight: 600;
    line-height: 17px;
    text-align: center;
}
.happy__card-info .happy__card-price{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}
.happy__card-info .happy__card-price .happy__card-price-spn1{
    color: rgb(255, 147, 30);
    font-size: 18px;
    line-height: 17px;
}
.happy__card-info .happy__card-price .happy__card-price-spn2{
    color: rgb(202, 211, 226);
    font-size: 15px;
    line-height: 17px;
    text-decoration-line: line-through;
}
.happy__card-info .happy-card-link{
    margin-top: 10px;
    color: rgb(106, 112, 121);
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    border-bottom: 1px solid rgb(106, 112, 121);
}
.happy-card .happy__card-btn{
    width: 272px;
    height: 45px;
}
/* Happy end */

/* Offer starts */
.offer .offer-content{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.offer-content .offer-card{
    padding: 40px 50px 27px 41px;
    border-radius: 30px;
    background: rgb(255, 147, 30);
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.offer-card .offer__card-group{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}
.offer-card .offer__card-group p{
    max-width: 257px;
    color: rgb(88, 51, 11);
    font-size: 16px;
    line-height: 19px;
    text-align: left;
}
.offer-card .offer__card-title{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.offer-card .offer__card-title h1,
.offer-card .offer__card-title span{
    color: rgb(51, 32, 12);
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
}
.offer-card .offer__card-title .offer__title-spns{
    display: flex;
    align-items: center;
    gap: 10px;
}
.offer__card-title .offer__title-spns span{
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding: 0px 10px;
}
.offer-card .offer__card-text{
    display: flex;
    align-items: center;
}
.offer-card .offer__card-text p{
    color: rgb(88, 51, 11);
    font-size: 14px;
    line-height: 19px;
    max-width: 255px;
}

.offer-card .offer__card-phone{
    position: relative;
}
.offer__card-phone .offer__phone-info{
    position: absolute;
    bottom: -130px;
    left: -14px;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 33px 20px 37px;
    border-radius: 15px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
}
.offer__card-phone .offer__phone-info::before{
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%);
    background-image: url(../images/icons/offer-phone-before.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 10px;
}
.offer__card-phone .offer__phone-tabs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}
.offer__card-phone .offer__phone-tab{
    display: flex;
    align-items: center;
    gap: 4px;
    color: rgb(47, 53, 63);
    font-size: 13px;
    line-height: 15px;
}

.offer__phone-info .offer__phone-text{
    position: relative;
    width: 229px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    padding: 6px 10px 8px;
    border-radius: 5px;
    box-shadow: 0px 4px 20px 0px rgba(65, 136, 255, 0.5);
    background: rgb(65, 136, 255);
}
.offer__phone-info .offer__phone-text::before{
    content: '';
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translate(-50%);
    width: 14px;
    height: 4px;
    background-image: url(../images/icons/phone-text-before.svg);
    background-repeat: no-repeat;
    background-size: contain    ;
}

.offer-content .offer-items{
    display: flex;
    gap: 30px;
    padding: 0 40px 70px;
    border-bottom: 1px solid rgb(221, 229, 243);
}
.offer-items{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.offer-big-item{
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(36px);
    background: rgb(255, 255, 255);
}
.offer-big-item .offer-item-title{
    max-width: 298px;
    color: rgb(47, 53, 63);
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.offer-big-item .offer-item-wallet{
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(47, 53, 63);
    font-size: 14px;
    line-height: 15px;
}
.offer-big-item .offer-item-calendar{
    position: absolute;
    top: -20px;
    right: 28px;
    width: 140px;
}

.offer-items .offer-items-wrap{
    display: flex;
    align-items: end;
    gap: 50px;
    margin-top: -82px;
}
.offer-items .offer-left-items{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 60%;
}
.offer-left-items .offer-logo-items{
    display: flex;
    align-items: center;
    gap: 30px;
}
.offer-left-items .offer-logo-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 20px;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(36px);
    background: rgb(251, 252, 253);
}

.offer-left-items .offer-big-item2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-radius: 10px;
    background: rgb(223, 236, 255); 
    padding: 17px 30px 17px 25px;
}
.offer-big-item2 .offer-item-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: rgb(47, 53, 63);
    max-width: 345px;
}
.offer-big-item2 .offer-item-title span{
    color: rgb(65, 136, 255);
}

.offer-items .offer-right-items{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 34.7%;
}
.offer-right-items .offer-right-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 25px 30px 25px 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(36px);
    background: linear-gradient(135.00deg, rgb(65, 136, 255) 0%,rgb(97, 156, 255) 100%);
}
.offer-right-items .offer-right-item:nth-child(2){
    background: rgb(255, 147, 30);
}
.offer-right-item .offer-item-title{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    max-width: 211px;
}
.offer-right-item:nth-child(2) .offer-item-title{
    color: rgb(89, 53, 14);
}
/* Offer end */

/* Install start */
.install{
    padding: 58px 0px 60px;
}
.install .install-content{
    display: flex;
    justify-content: center;
    gap: 22px;
    align-items: start;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(221, 229, 243);
}
.install-content .install-title{
    display: flex;
    flex-direction: column;
    gap: 11px;
    max-width: 382px;
}
.install-content .install-title h1{
    color: rgb(47, 53, 63);
    font-size: 40px;
    font-weight: 600;
    line-height: 41px;
}
.install-content .install-title img{
    width: 249px;
    margin-left: 100px;
}

.install-content .install-info{
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 360px;
}
.install-info .install-time{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 13.31px;
    background: rgb(255, 255, 255);
}
.install-time .install__time-tab{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 0 4px;
    transition: .3s ease all;
}
.install-time .install__time-tab:nth-child(2){
    border-right: 1px solid #edf4ff;
    border-left: 1px solid #edf4ff;
}
.install-time .install__time-tab.active{
    transform: scale(1.1);
    border-radius: 13.31px;
    background: rgb(65, 136, 255);
    z-index: 2;
}
.install-time .install__time-tab.active::after{
    content: '';
    position: absolute;
    background-image: url(../images/icons/offer-phone-before.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 8px;
    bottom: -18px;
    left: 50%;
    transform: translate(-50%);
}
.install-time .install__time-tab b{
    color: rgb(47, 53, 63);
    font-size: 13px;
    font-weight: 600;
    line-height: 14.64px;
    text-align: center;
    width: 119px;
}
.install-time .install__time-tab span{
    color: rgb(183, 206, 241);
    font-size: 12px;
    font-weight: 700;
    line-height: 22.63px;
    text-align: center;
    width: 119px;
}
.install-time .install__time-tab.active b{
    color: #FFF;
}

.install-info .install-block{
    padding: 20px;
    border-radius: 13.31px;
    box-shadow: 0px 5.32px 66.55px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(47.91px);
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.install-block .install__block-top{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.install__block-top .install-tabs{
    padding: 5px;
    border-radius: 133.09px;
    background: rgb(237, 244, 255);
    display: flex;
    align-items: center;
    gap: 5px;
}
.install__block-top .install-tab{
    position: relative;
    width: 100px;
    border-radius: 133.09px;
    color: rgb(104, 123, 153);
    font-size: 13px;
    font-weight: 400;
    line-height: 14.64px;
    letter-spacing: 0%;
    text-align: center;
    padding: 8px 0;
}
.install__block-top .install-tab.active{
    box-shadow: 0px 2.66px 19.96px 0px rgba(65, 136, 255, 0.5);
    background: rgb(65, 136, 255);
    color: #FFF;
}
.install__block-top .install__block-links{
    display: flex;
    align-items: center;
    gap: 20px;
}
.install__block-top .install__block-link{
    display: flex;
    align-items: center;
    gap: 7px;
    color: rgb(47, 53, 63);
    font-size: 13px;
    line-height: 19.96px;
}
.install__block-top .install__block-total{
    display: flex;
    align-items: end;
    gap: 7px;
}
.install__block-top .install__block-total b{
    color: rgb(47, 53, 63);
    font-size: 27px;
    font-weight: 700;
    line-height: 34.6px;
}
.install__block-top .install__block-total span{
    color: rgb(168, 183, 207);
    font-size: 20px;
    font-weight: 700;
    line-height: 34.6px;
}

.install-block .install__block-bottom{
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: fit-content;
}
.install__block-bottom .install__block-line{
    border-radius: 6.65px;
    background: linear-gradient(71.74deg, rgba(255, 147, 30, 0.3) 0.003%,rgb(255, 147, 30) 11.617%,rgb(255, 147, 30) 88.5%,rgba(255, 147, 30, 0.3) 100%);
    width: 100%;
    height: 4px;
}
.install__block-bottom .install__block-items{
    display: none;
    align-items: start;
    padding: 0px 4px;
    margin-top: -25px;
    gap: 6.65px;
}
.install__block-bottom .install__block-items.active{
    display: flex;
}
.install__block-bottom .install__block-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 74px;
    gap: 13px;
}
.install__block-bottom .install__block-item .dot{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: rgb(255, 147, 30);
}
.install__block-item .install__block-price{
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.install__block-item .install__block-price span{
    color: rgb(168, 183, 207);
    font-size: 13px;
    line-height: 13.31px;
}
.install__block-item .install__block-price b{
    color: rgb(47, 53, 63);
    font-size: 17px;
    font-weight: 700;
    line-height: 13.31px;
}


.install .install-video{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 37px;
    padding-top: 60px;
}
.install-video .install__video-info{
    display: flex;
    flex-direction: column;
    gap: 19px;
    width: 400px;
}
.install-video .install__video-title{
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    color: rgb(47, 53, 63);
}
.install-video .install__video-title span{
    color: rgb(65, 136, 255);
}
.install-video .install__video-texts{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.install-video .install__video-text{
    display: flex;
    align-items: start;
    gap: 10px;
}
.install-video .install__video-text span{
    color: rgb(255, 147, 30);
    font-size: 14px;
    line-height: 18px;
}
.install-video .install__video-text p{
    color: rgb(47, 53, 63);
    font-size: 14px;
    line-height: 18px;
    max-width: 348px;
}
/* Install end */


/* certificate start */
.certificate{
    background-color: #FFF;
    padding: 0px 0px 170px;
}
.certificate .certificate-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.certificate-content .certificate-title{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 433px;
}
.certificate-content .certificate-title h1{
    color: rgb(47, 53, 63);
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
}
.certificate-content .certificate-title a{
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(47, 53, 63);
    font-size: 14px;
    line-height: 15px;
}
.certificate-content .certificate-img{
    margin-left: -85px;
    margin-top: -25px;
}
/* Certificate end */

/* Medical start */
.medical{
    padding-bottom: 198px;
}
.medical .medical-content{
    border-radius: 30px;
    background: rgb(65, 136, 255);
    position: relative;
    padding: 0px 28px 0px 42px;
    margin-top: -122px;
    display: flex;
    align-items: center;
    gap: 65px;
}
.medical-content .medical-phone{
    position: relative;
    max-width: max-content;
}
.medical-content .medical-phone-img{
    margin-top: -24px;
}
.medical-content .medical-phone-line{
    position: absolute;
    top: 57px;
    right: -38px;
}

.medical-content .medical-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0px;
}
.medical-content .medical-info .medical-title{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    max-width: 510px;
}
.medical-content .medical-info .medical-text{
    color: rgb(228, 238, 255);
    font-size: 14px;
    line-height: 18px;
    max-width: 386px;
}

.medical-content .medical-modal{
    position: absolute;
    bottom: -138px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    padding: 15px 14px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.medical-content .medical-modal::after{
    content: '';
    position: absolute;
    top: -9px;
    left: 50%;
    width: 28px;
    height: 10px;
    transform: translate(-50%);
    background-image: url(../images/icons/offer-phone-before.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.medical-modal .medical-modal-text{
    color: rgb(47, 53, 63);
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}
.medical-modal .medical-modal-link{
    color: rgb(107, 126, 158);
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 8px 20px;
    border-radius: 10px;
    background: rgb(236, 243, 255);
}
/* Medical end */

/* Exam start */
.exam .exam-content{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
}
.exam-content .exam-info{
    display: flex;
    flex-direction: column;
    gap: 22px;
    max-width: 453px;
}
.exam-info .exam-title{
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    color: rgb(47, 53, 63);
}
.exam-info .exam-title span{
    color: rgb(65, 136, 255);
}
.exam-info .exam-text{
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(47, 53, 63);
    font-size: 14px;
    line-height: 18px;
}
.exam-info .exam-police{
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.5px);
    background: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    height: 64px;
}
.exam-info .exam-police p{
    color: rgb(55, 58, 63);
    font-size: 13px;
    line-height: 17px;
}
.exam-info .exam-police img{
    margin-top: 20px;
    margin-right: -20px;
}
.exam-content .exam-video,
.exam-content .exam-video video{
    max-width: 470px;
    height: 235px;
    border-radius: 10px;
}

.exam .exam-director{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 26px;
}
.exam-director .exam-director-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.exam-director .exam-director-title{
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    color: rgb(47, 53, 63);
    max-width: 358px;
}
.exam-director .exam-director-title span{
    color: rgb(65, 136, 255);
}
.exam-director .exam-director-message{
    position: relative;
    margin-left: -10px;
    padding: 9px 20px 10px;
    border-radius: 100px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    max-width: 328px;
}
.exam-director .exam-director-message p{
    position: relative;
    z-index: 2;
    color: rgb(47, 53, 63);
    font-size: 14px;
    line-height: 16px;
}
.exam-director-message span{
    position: absolute;
    right: 19px;
    bottom: 5px;
    display: flex;
    align-items: center;
    gap: 2px;
    color: rgb(47, 53, 63, 0.3);
    font-size: 10px;
    line-height: 10px;
}
.exam-director-message .message-icon{
    position: absolute;
    left: -13px;
    bottom: 5px;
    z-index: 0;
}
/* Exam end */

/* Sign-up start */
.sign-up{
    padding-bottom: 66px;
    background-color: #4188FF;
}
.sign-up .sign-content{
    display: flex;
    flex-direction: column;
    gap: 58px;
}
.sign-content .sign-items{
    display: flex;
    gap: 30px;
    margin-top: -27px;
}
.sign-items .sign-item{
    display: flex;
    align-items: start;
    gap: 10px;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    width: 100%;
}
.sign-item .sign__item-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.sign-item .sign__item-title{
    color: rgb(47, 53, 63);
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
}
.sign-item .sign__item-text{
    color: rgb(47, 53, 63);
    font-size: 14px;
    line-height: 18px;
    max-width: 320px;
}
.sign-item:nth-child(1) .sign__item-text{
    max-width: 240px;
}

.sign-content .sign-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
}
.sign-info .sign-title{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    line-height: 41px;
    text-align: center;
    max-width: 676px;
}
.sign-info .sign-form-wrap{
    position: relative;
    width: 744px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 15px;
    padding: 20px 27px;
    border-radius: 20px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(36px);
    background: rgb(255, 255, 255);
}
.sign-info .sign-form-wrap::after {
    content: '';
    position: absolute;
    top: -9px;
    left: 50%;
    width: 28px;
    height: 10px;
    transform: translate(-50%);
    background-image: url(../images/icons/offer-phone-before.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.sign-form-wrap .sign-form-text{
    color: rgb(103, 113, 130);
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    max-width: 334px;
}
.sign-form-wrap .sign-form{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.sign-form .sign-form-inp{
    border-radius: 5px;
    background: rgb(241, 245, 252);
    padding: 12px 10px;
    border: none;
    outline: none;
    color: #6c7b94;
    font-size: 14px;
    line-height: 17px;
    height: 40px;
    width: 100%;
}
.sign-form .sign-form-inp::placeholder{
    color: rgb(169, 175, 186);
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}
.sign-form .sign-form-btn{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 40px;
}
/* Sign-up end */

/* Result start */
.result .result-content{
    padding: 74px 0px 60px;
    border-bottom: 1px solid #E7ECF4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 52px;
}
.result-content .result-texts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: max-content;
    margin: 0 auto;
}
.result-content .result-text{
    display: flex;
    align-items: end;
    gap: 20px;
}
.result-content .result-text b{
    color: rgb(65, 136, 255);
    font-size: 120px;
    font-weight: 700;
    line-height: 100px;
}
.result-content .result-text:nth-child(2) b{
    color: rgb(255, 147, 30);
}
.result-content .result-text h2{
    color: rgb(47, 53, 63);
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    max-width: 435px;
}
.result-content .result-text:nth-child(1) h2{
    max-width: 360px;
}
.result-content .result-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.result-content .result-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 335px;
    height: 82px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    padding: 25px 27px 26px 33px;
}
.result-item .result-item-star{
    display: flex;
    align-items: center;
    gap: 3px;
}
.result-item .result-item-star span{
    color: rgb(47, 53, 63);
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
}
/* Result end */

/* Football start */
.football{
    padding: 60px 0px 50px;
}
.football .football-content{
    border-bottom: 1px solid #E7ECF4;
}
.football-content .football-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}
.football-top .football-title{
    display: flex;
    align-items: center;
    gap: 16px;
}
.football-top .football-title h1{
    color: rgb(47, 53, 63);
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    max-width: 650px;
}
.football-top .football-slider-arrow{
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: -10px;
}
.football-top .swiper-button-prev{
    left: -120px;
}
.football-top .swiper-button-next{
    right: 0;
}
.football-top .swiper-button-next.swiper-button-disabled, 
.football-top .swiper-button-prev.swiper-button-disabled{
    opacity: 1;
    background-color: #FFF;
}

.football .football-slider img{
    width: 105%;
}
/* Football end */


/* Help start */
.help .help-content{
    padding: 60px 0px 70px;
    border-bottom: 1px solid #E7ECF4;
    border-top: 1px solid #E7ECF4;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.help-content .help-title{
    display: flex;
    align-items: center;
    gap: 12px;
}
.help-content .help-title h1{
    color: rgb(47, 53, 63);
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
}
.help-content .help-company{
    display: flex;
    align-items: center;
    gap: 20px;
}
.help-content .help-company-logo{
    height: 205px;
    width: 100%;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.help-content .help-company-logo{
    width: 100%;
}
/* Help end */

/* Video-sec start */
.video-sec{
    padding: 65px 0 70px;
}
.video-sec .video__sec-content{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.video-sec .video__sec-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.video__sec-top .video__sec-title{
    display: flex;
    align-items: center;
    gap: 12px;
}
.video__sec-title h1{
    color: rgb(47, 53, 63);
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
}

.video__sec-top .video__sec-arrow{
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: -10px;
}
.video__sec-arrow .swiper-button-prev {
    left: -120px;
}
.video__sec-arrow .swiper-button-next {
    right: 0;
}
.video__sec-arrow .swiper-button-next.swiper-button-disabled, 
.video__sec-arrow .swiper-button-prev.swiper-button-disabled{
    opacity: 1;
    background-color: #FFF;
}

.video__sec-slider .review-video{
    position: relative;
}
.review-video .review-video-sup{
    position: absolute;
    bottom: 70px;
    left: 20px;
    z-index: 2;
}
.review-video-sup .review-video__name{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    max-width: 102px;
}
.review-video .play-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(6.3px);
    background: rgba(0, 0, 0, 0.5);
    width: 70px;
    height: 70px;
    border-radius: 100px;
    padding: 19px 21px 21px 26px;
    cursor: pointer;
}

.video__sec-slider .review-video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
}
.video-sec .video-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap: 30px;
}
.video-cards .video-card{
    padding: 40px 100px 56px;
    height: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    background: rgb(65, 136, 255);
}
.video-cards .video-card1{
    padding-bottom: 0;
}
.video-cards .video-card2{
    background: rgb(255, 147, 30);
}
.video-cards .video-card .video__card-title{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
    max-width: 270px;
}
.video-cards .video-card2 .video__card-title{
    color: rgb(51, 32, 12);
}
.video-cards .video-card1 .video-card-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-image: url(../images/phone-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 270px;
    height: 126px;
}

.video-cards .video-card .video-card-btn{
    width: 270px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
    font-size: 15px;
    line-height: 17px;
}
/* Video-sec end */

/* Footer start */
.footer{
    padding: 35px 0;
    background: rgb(225, 234, 249);
}
.footer .footer-content{
    display: flex;
    flex-direction: column;
}
.footer-content .footer-top{
    padding-bottom: 35px;
    border-bottom: 1px solid rgb(218, 227, 243);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.footer-top .footer-logo-wrap{
    display: flex;
    align-items: center;
    gap: 35px;
}
.footer-top .footer-logo-wrap .footer-yandex{
    border-radius: 10px;
    background: rgb(237, 244, 255);
    padding: 10px 11px 11px 14px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer-logo-wrap .footer-yandex .yandex-logo{
    width: 97px;
    height: 26px;
}
.footer-logo-wrap .footer-yandex .footer-yandex-star{
    display: flex;
    align-items: center;
    gap: 5px;
}
.footer-yandex .footer-yandex-star span{
    color: rgb(47, 53, 63);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}
.footer-top .footer__top-links{
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer-top .footer__big-links{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-top .footer__big-link{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 45px;
    padding: 5px 16px;
    border-radius: 10px;
    background: rgb(214, 227, 248);
    color: rgb(65, 136, 255);
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}
.footer-top .footer__small-links{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-top .footer__small-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background: rgb(214, 227, 248);
}

.footer-content .footer-bottom{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
    padding-top: 35px;
}
.footer-bottom .footer__bottom-item{
    display: flex;
    flex-direction: column;
    gap: 31px;
    width: 232px;
}
.footer-bottom .footer__bottom-item:nth-child(1){
    gap: 15px;
}
.footer__bottom-item .footer__bottom-text{
    color: rgb(89, 101, 122);
    font-size: 12px;
    line-height: 16px;
}
.footer-bottom .footer__bottom-contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__bottom-contact .footer-contact-link{
    color: rgb(65, 136, 255);
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: right;
}
.footer__bottom-contact .footer__contact-time{
    display: flex;
    flex-direction: column;
    color: rgb(52, 59, 69);
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    font-weight: 600;
}
/* Footer end */